name: CLA Assistant

on:
  issue_comment:
    types: [created]
  pull_request_target:
    types: [opened, closed, synchronize]

permissions:
  actions: write
  contents: write
  pull-requests: write
  statuses: write

jobs:
  cla:
    runs-on: ubuntu-latest
    if: |
      (github.event_name == 'pull_request_target') ||
      (github.event_name == 'issue_comment' && github.event.comment.body == 'recheck')
    steps:
      - name: CLA Assistant
        uses: contributor-assistant/github-action@v2.6.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          path-to-signatures: 'signatures/cla.json'
          path-to-document: 'https://github.com/${{ github.repository }}/blob/main/CLA.md'
          branch: 'cla-signatures'
          allowlist: 'bot*,dependabot*,renovate*'
          custom-notsigned-prcomment: |
            Thank you for your contribution! Before we can merge this PR, you need to sign our [Contributor License Agreement](https://github.com/${{ github.repository }}/blob/main/CLA.md).

            **To sign the CLA**, please reply to this comment with:

            > I have read the CLA Document and I hereby sign the CLA

            You only need to sign once. After signing, all your future contributions are covered.
          custom-pr-sign-comment: 'I have read the CLA Document and I hereby sign the CLA'
          custom-allsigned-prcomment: 'All contributors have signed the CLA. Thank you!'
